/* ====RESET==== */
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "PT Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #181818;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ====HEADER==== */

.navbar {
  padding: 0;
}

/* ====ESCONDER UL EN MOBILE==== */
.navbar .container-fluid .nav-div-mobhide {
  display: none;
}

/* ====AJUSTE DE MARGENES DE LOS LINKS==== */
.navbar .container-fluid .navbar-brand {
  margin: 5px;
}

/* ====FIJADO DE TAMAÑO DE LOGO EN NAVBAR==== */
.navbar .container-fluid .navbar-brand .nav-img {
  width: 45px;
}

/* ====BORDE SOLIDO PARA EL MENU COMO DIVISOR==== */
.navbar .container-fluid .collapse .navbar-nav .ul-li-borderbottom {
  border-bottom: 1px solid #585858;
}

/* ===PAG DE INDEX=== */

/* ===ESCONDER VIDEO EN MOBILE=== */
.video-holder video {
  display: none;
}

/* ===BACKGROUND IMAGE PARA MOBILE=== */
.headline-holder div.charlytest {
  width: 100%;
  height: 75vh;
  text-align: center;
  background-image: url(../img/cg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

/* ===AJUSTE HEADLINE 1 PARA MOBILE=== */
.headline-holder div.charlytest h1 {
  top: 50%;
  position: relative;
  display: inline-block;
  background-color: transparent;
  font-family: Teko, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 5rem;
  font-weight: bold;
  line-height: 3.5rem;
}

/* ===AJUSTE HEADLINE 2 PARA MOBILE=== */
.headline-holder div.charlytest h2 {
  top: 65%;
  position: relative;
  background-color: transparent;
  font-family: Teko, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.5rem;
}

/* ===FOOTER=== */
/* ===ELEMENTO FOOTER=== */
footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

/* ===SECTION FOOTERS=== */
.footer {
  padding: 0 20px;
}

/* ===SECTION FOOTERS UL - SACAR PADDING AGREGADO POR BOOTSTRAP=== */
.footer ul {
  padding-left: 0;
}

  /* ===BOLD PARA LOS TITULOS DE FOOTER=== */
  .footer h3 {
    font-weight: bold;
  }

/* ===RIGHT FOOTER=== */
/* ===RIGHT FOOTER - FORM=== */
.rightfooter-form .form-input-restyle {
  width: 200px;
  border: 1px solid white
}

/* ===RIGHT FOOTER - BUTTON=== */
.rightfooter-form button {
  padding: 0 5px;
  border: 1px solid white;
}

/* ===RIGHT FOOTER - COPYRIGHT AJUSTE=== */
.rightfooter .copy-div {
  text-align: center;
  padding-top: 10px;
}

/* ===RIGHT FOOTER - REDES SOCIALES=== */
.rightfooter .rrss-div {
  text-align: center;
  padding-top: 20px;
}

.rightfooter .rrss-div .rrss-ul {
  text-align: center;
  display: inline-block;
}

.rightfooter .rrss-div .rrss-ul .ul-li-adjust {
  display: inline-block;
  width: 20px;
}

@media (min-width: 1200px) {
  /* ====ESCONDER UL EN DESKTOP==== */
  .navbar .container-fluid .collapse .navbar-nav .nav-div-deskhide {
    display: none;
  }

   /* ====ESPACIO ENTRE LOS LINKS DEL NAV==== */
   .navbar .container-fluid .collapse .navbar-nav .nav-item {
    padding: 0 10px;
   }

  /* ===INDEX=== */
  /* ===MOSTRAR VIDEO EN MOBILE=== */
  .video-holder video {
    display: inline-block;
  }

  /* ===ESCONDER IMAGEN Y HEADLINES EN MOBILE=== */
  .headline-holder {
    display: none;
  }
  /* ====REMOVER BORDE SOLIDO PARA EL MENU==== */
  .navbar .container-fluid .collapse .navbar-nav .ul-li-borderbottom {
    border-bottom: none;
  }

  /* ===FOOTER=== */
  /* ===ELEMENTO FOOTER=== */
  footer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* ===MIDDLE FOOTER=== */
  /* ===BORDE PARA EL FOOTER DEL MEDIO=== */
  .middlefooter {
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
  }

  /* ===RIGHT FOOTER=== */
  /* ===RIGHT FOOTER - FORM=== */
  .rightfooter-form .form-input-restyle {
    width: 380px;
  }

  /* ===RIGHT FOOTER - ESCONDER BR DEL H3=== */
  .br-hidden-desk {
    display: none;
  }
}
