@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "PT Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #181818;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 0;
}

/* ====ESCONDER UL EN MOBILE==== */
.nav__div--mobhide {
  display: none;
}

/* ====AJUSTE DE MARGENES EN EL LINK A Y FIJADO DE TAMAÑO DEL LOGO==== */
.imglink {
  margin: 5px;
}
.imglink__img {
  width: 45px;
}

/* ====BORDE SOLIDO PARA EL MENU COMO DIVISOR==== */
.nav__li--borderbot {
  border-bottom: 1px solid #585858;
}

@media (min-width: 990px) {
  /* ====ESCONDER UL EN DESKTOP==== */
  .nav__div--deskhide {
    display: none;
  }
  /* ====ESPACIO ENTRE LOS LINKS DEL NAV==== */
  .nav-item {
    padding: 0 10px;
  }
  /* ====REMOVER BORDE SOLIDO PARA EL MENU==== */
  .nav__li--borderbot {
    border-bottom: none;
  }
}
footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  /* ===SECTION FOOTERS=== */
}
footer .footer {
  padding: 0 20px;
}
footer .footer__ul {
  /* ===SECTION FOOTERS UL - SACAR PADDING AGREGADO POR BOOTSTRAP=== */
  padding-left: 0;
}
footer .footer__foothead {
  /* ===BOLD PARA LOS TITULOS DE FOOTER=== */
  font-weight: bold;
}

/* ===RIGHT FOOTER=== */
/* ===RIGHT FOOTER - FORM=== */
.rform__input--restyle {
  width: 200px;
  border: 1px solid #ffffff;
}

/* ===RIGHT FOOTER - BUTTON=== */
.rform__button--restyle {
  padding: 0 5px;
  border: 1px solid #ffffff;
}

/* ===RIGHT FOOTER - COPYRIGHT AJUSTE=== */
.copy-div {
  text-align: center;
  padding-top: 10px;
}

/* ===RIGHT FOOTER - REDES SOCIALES=== */
.rrss {
  text-align: center;
  padding-top: 20px;
}
.rrss__ul {
  /* ===REDES SOCIALES - CENTRADO DE UL=== */
  text-align: center;
  display: inline-block;
  padding: 0;
}
.rrss__ul .rrssul__li--adjust {
  /* ===REDES SOCIALES - CENTRADO DE LI=== */
  display: inline-block;
  width: 20px;
  margin: 0 5px;
}

@media (min-width: 810px) {
  /* ===FOOTER=== */
  /* ===ELEMENTO FOOTER=== */
  footer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* ===MIDDLE FOOTER=== */
  /* ===BORDE PARA EL FOOTER DEL MEDIO=== */
  .footer__middlefooter {
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
  }
  /* ===RIGHT FOOTER=== */
  /* ===RIGHT FOOTER - FORM=== */
  .rform__input--restyle {
    width: 255px;
  }
  /* ===RIGHT FOOTER - ESCONDER BR DEL H3=== */
  .foothead__br--hidedesk {
    display: none;
  }
}
@media (min-width: 990px) {
  /* ===RIGHT FOOTER=== */
  /* ===RIGHT FOOTER - FORM=== */
  .rform__input--restyle {
    width: 380px;
  }
}
/* ===ESCONDER VIDEO EN MOBILE=== */
.vidholder {
  display: none;
}

/* ===BACKGROUND IMAGE + AJUSTES DE HEADLINE 1 Y HEADLINE 2 PARA MOBILE=== */
.headline {
  width: 100%;
  height: 75vh;
  text-align: center;
  background-image: url(../img/cg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.headline__maintitle {
  top: 50%;
  position: relative;
  display: inline-block;
  background-color: transparent;
  font-family: Teko, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
  font-size: 5rem;
  font-weight: bold;
  line-height: 3.5rem;
}
.headline__subtitle {
  top: 65%;
  position: relative;
  background-color: transparent;
  font-family: Teko, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

/* ===INDEX DESKTOP VIEWPORT=== */
@media (min-width: 990px) {
  /* ===MOSTRAR VIDEO EN MOBILE=== */
  .vidholder {
    display: inline-block;
  }
  .vidholder video {
    max-width: 100%;
  }
  /* ===ESCONDER IMAGEN Y HEADLINE 2 EN MOBILE=== */
  .headline {
    background-image: none;
    width: auto;
    height: auto;
  }
  .headline__maintitle {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .headline__subtitle {
    display: none;
  }
}
/* ===CONCIERTOS=== */
/* ===CONTENEDOR MAPA+LISTA=== */
.maincontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 0.85rem;
  padding: 15px 0;
}

/* ===MODIFICAR BACKGROUND COLOR LISTA=== */
.fechas__info--bgcolor {
  background-color: #3b3b3b;
}

/* ===AGREGAR RADIUS Y PADDING AL LIST=== */
.fechas {
  padding: 10px;
  border-radius: 5px;
}
.fechas__title {
  /* ===MODIFICAR FONT SIZE H1=== */
  font-size: 1.5rem;
}
.fechas__cajas {
  /* ===FORMATEO DEFAULT DE LAS CAJAS DE LA LISTA=== */
  width: 300px;
  background-color: #3b3b3b;
  margin: 5px;
  padding: 5px;
  border-top: 1px solid #000000;
}
.fechas__lugartod {
  /* ===FORMATEO DEFAULT DE LAS LUGARES/FECHAS=== */
  background-color: #3b3b3b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fechas__lugartod a {
  /* ===FORMATEO DEFAULT DE LOS A DE LAS FECHAS=== */
  font-size: 1rem;
  background-color: #df6400;
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
  text-transform: uppercase;
  align-content: right;
  font-weight: bold;
}

/* ===RESIZING Y BORDER RADIUS DEL MAPA=== */
.div__map {
  border-radius: 5px;
  max-width: 100%;
}

/* ===MUSICA=== */
/* ===AJUSTE Y CENTRADO HEADLINE=== */
.musica__headline {
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

/* ===ALINEAR AL CENTRO=== */
.album {
  text-align: center;
}

/* ===KEYFRAMES SLIDE UP=== */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
/* ===KEYFRAMES SLIDE RIGHT=== */
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}
/* ===KEYFRAMES SLIDE DOWN=== */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
/* ===KEYFRAMES SLIDE DOWN MOBILE ONLY=== */
@keyframes slideDownMob {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
/* ===KEYFRAMES SLIDE LEFT=== */
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100;
  }
}
/* ===AJUSTE DE PADDING EN ALBUMS=== */
.row__div {
  padding-bottom: 24px;
}
.row__div--up, .row__div--right, .row__div--down, .row__div--left {
  /* ===ANIMATION SLIDE DOWN MOBILE ONLY=== */
  animation: 1s ease-in 0s 1 slideDownMob;
}

@media (min-width: 810px) {
  /* ===AJUSTE DE ANIMACIONES EN DESKTOP=== */
  .row__div--up {
    /* ===ANIMATION SLIDE UP=== */
    animation: 1s ease-in 0s 1 slideUp;
  }
  .row__div--right {
    /* ===ANIMATION SLIDE RIGHT=== */
    animation: 1s ease-in 0s 1 slideRight;
  }
  .row__div--down {
    /* ===ANIMATION SLIDE DOWN=== */
    animation: 1s ease-in 0s 1 slideDown;
  }
  .row__div--left {
    /* ===ANIMATION SLIDE LEFT=== */
    animation: 1s ease-in 0s 1 slideLeft;
  }
}
/* ===GALERÍA=== */
/* ===AJUSTE DE HEALINE EN GALERIA=== */
.headline__gallery {
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

/* ===BIOGRAFIA=== */
/* ===ALINEAR AL CENTRO=== */
.bio {
  text-align: center;
  padding: 10px 15px 5px 15px;
}
.bio__img1 {
  display: none;
}
.bio__img2 {
  width: 100%;
  height: auto;
}
.bio__headline1 {
  /* ===ALINEAR H1 AL CENTRO=== */
  text-align: center;
  padding-bottom: 5px;
}
.bio__rightcol {
  /* ===ALINEAR COL DERECHA A LA IZQUIERDA=== */
  text-align: left;
  padding-top: 20px;
}
.bio__headline2 {
  /* ===ESCONDER H2 EN MOB=== */
  display: none;
}

/* ===BIOGRAFIA DESKTOP VIEWPORT=== */
@media (min-width: 576px) {
  .bio__img1 {
    display: inline-block;
  }
  .bio__img2 {
    display: none;
  }
}
@media (min-width: 990px) {
  .bio__headline1 {
    display: none;
  }
  .bio__headline2 {
    /* ===MOSTRAR H2 EN DESKTOP=== */
    display: inline-block;
  }
}
/* ===CONTACTO=== */
/* ===MODIFICAR H1=== */
.contact-h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 15px 0;
}

/* ===MODIFICAR PADDING DEL CONTENEDOR DEL FORM=== */
.contactform {
  padding: 0 15px;
}
.contactform__group {
  /* ===MODIFICAR PADDING ENTRE LOS INPUTS=== */
  padding-bottom: 15px;
}
.contactform__tyc--underline {
  /* ===UNDERLINE PARA EL LINK DE VER TERMINOS Y CONDICIONES=== */
  text-decoration: underline;
}
.contactform__checkbox--padding {
  /* ===PADDING PARA EL CHECKBOX=== */
  padding-top: 5px;
  padding-bottom: 15px;
}
.contactform__btn--colormod {
  /* ===MODIFICACION DE COLORES DEL BOTÓN DE INPUT=== */
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.contactform__btn--colormod:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

/*# sourceMappingURL=styles.css.map */
