/* ===BIOGRAFIA=== */
/* ===ALINEAR AL CENTRO=== */
.bio {
  text-align: center;
  padding: 10px 15px 5px 15px;

  &__img1 {
    display: none;
  }
  &__img2 {
    width: 100%;
    height: auto;
  }

  &__headline1 {
    /* ===ALINEAR H1 AL CENTRO=== */
    text-align: center;
    padding-bottom: 5px;
  }

  &__rightcol {
    /* ===ALINEAR COL DERECHA A LA IZQUIERDA=== */
    text-align: left;
    padding-top: 20px;
  }

  &__headline2 {
    /* ===ESCONDER H2 EN MOB=== */
    display: none;
  }
}

/* ===BIOGRAFIA DESKTOP VIEWPORT=== */


@media (min-width: 992px) {
  .bio {
    &__img1 {
      display:inline-block;
    }
    &__img2 {
      display: none;
    }
    &__headline1 {
      display: none;
    }
    &__headline2 {
      /* ===MOSTRAR H2 EN DESKTOP=== */
      display: inline-block;
    }
    &__rightcol {
      /* ===ALINEAR COL DERECHA A LA IZQUIERDA=== */
      text-align: left;
      padding-top: 0px;
    }
  }
}
