/* ===CONCIERTOS=== */
/* ===CONTENEDOR MAPA+LISTA=== */
.maincontainer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 0.85rem;
  padding: 15px 0;
}

/* ===MODIFICAR BACKGROUND COLOR LISTA=== */
.fechas__info--bgcolor {
  background-color: #3b3b3b;
}

/* ===AGREGAR RADIUS Y PADDING AL LIST=== */
.fechas {
  padding: 10px;
  border-radius: 5px;

  /* ===MODIFICAR FONT SIZE H1=== */
  &__title {
    font-size: 1.5rem;
  }

  /* ===FORMATEO DEFAULT DE LAS CAJAS DE LA LISTA=== */
  &__cajas {
    width: 300px;
    background-color: #3b3b3b;
    margin: 5px;
    padding: 5px;
    border-top: 1px solid black;
  }

  /* ===FORMATEO DEFAULT DE LAS LUGARES/FECHAS=== */
  &__lugartod {
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* ===FORMATEO DEFAULT DE LOS A DE LAS FECHAS=== */
    a {
      font-size: 1rem;
      background-color: #df6400;
      padding: 0.25rem 0.5rem;
      border-radius: 30px;
      text-transform: uppercase;
      align-content: right;
      font-weight: bold;
    }
  }
}

/* ===RESIZING Y BORDER RADIUS DEL MAPA=== */
.div__map {
  border-radius: 5px;
  max-width: 100%;
}
