/* ===CONCIERTOS=== */
/* ===CONTENEDOR MAPA+LISTA=== */
.maincontainer {
  @include flex-rowrap-center;
  font-size: 0.85rem;
  padding: 15px 0;
}

/* ===MODIFICAR BACKGROUND COLOR LISTA=== */
.fechas__info--bgcolor {
  background-color: $c-darkergrey;
}

/* ===AGREGAR RADIUS Y PADDING AL LIST=== */
.fechas {
  padding: 10px;
  border-radius: 5px;

  &__title {
    /* ===MODIFICAR FONT SIZE H1=== */
    font-size: 1.5rem;
  }

  &__cajas {
    /* ===FORMATEO DEFAULT DE LAS CAJAS DE LA LISTA=== */
    width: 300px;
    background-color: $c-darkergrey;
    margin: 5px;
    padding: 5px;
    border-top: 1px solid $c-black;
  }

  &__lugartod {
    /* ===FORMATEO DEFAULT DE LAS LUGARES/FECHAS=== */

    background-color: $c-darkergrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      /* ===FORMATEO DEFAULT DE LOS A DE LAS FECHAS=== */

      font-size: 1rem;
      background-color: $c-orange;
      padding: 0.25rem 0.5rem;
      border-radius: 30px;
      text-transform: uppercase;
      align-content: right;
      font-weight: bold;
    }
  }
}

/* ===RESIZING Y BORDER RADIUS DEL MAPA=== */
.div__map {
  border-radius: 5px;
  max-width: 100%;
}
