/* ===MUSICA=== */
/* ===AJUSTE Y CENTRADO HEADLINE=== */
.musica__headline {
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

/* ===ALINEAR AL CENTRO=== */
.album {
  text-align: center;
}

@include keyframe-slide-up;
@include keyframe-slide-right;
@include keyframe-slide-down;
@include keyframe-slide-left;

/* ===AJUSTE DE PADDING EN ALBUMS=== */
.row__div {
  padding-bottom: 24px;

  &--up {
    @include animation-slide-up;
  }
  &--right {
    @include animation-slide-right;
  }
  &--down {
    @include animation-slide-down;
  }
  &--left {
    @include animation-slide-left;
  }
}
