footer {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;

  /* ===SECTION FOOTERS=== */
  .footer {
    padding: 0 20px;

    /* ===SECTION FOOTERS UL - SACAR PADDING AGREGADO POR BOOTSTRAP=== */
    &__ul {
      padding-left: 0;
    }
    /* ===BOLD PARA LOS TITULOS DE FOOTER=== */
    &__foothead {
      font-weight: bold;
    }
  }
}

/* ===RIGHT FOOTER=== */
/* ===RIGHT FOOTER - FORM=== */
.rform__input--restyle {
  width: 200px;
  border: 1px solid white;
}

/* ===RIGHT FOOTER - BUTTON=== */
.rform__button--restyle {
  padding: 0 5px;
  border: 1px solid white;
}

/* ===RIGHT FOOTER - COPYRIGHT AJUSTE=== */
.copy-div {
  text-align: center;
  padding-top: 10px;
}

/* ===RIGHT FOOTER - REDES SOCIALES=== */
.rrss {
  text-align: center;
  padding-top: 20px;

  &__ul {
    text-align: center;
    display: inline-block;
    padding: 0;

    .rrssul__li--adjust {
      display: inline-block;
      width: 20px;
      margin: 0 5px;
    }
  }
}

@media (min-width: 810px) {
  /* ===FOOTER=== */
  /* ===ELEMENTO FOOTER=== */
  footer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* ===MIDDLE FOOTER=== */
  /* ===BORDE PARA EL FOOTER DEL MEDIO=== */
  .footer__middlefooter {
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
  }

  /* ===RIGHT FOOTER=== */
  /* ===RIGHT FOOTER - FORM=== */
  .rform__input--restyle {
    width: 255px;
  }

  /* ===RIGHT FOOTER - ESCONDER BR DEL H3=== */
  .foothead__br--hidedesk {
    display: none;
  }
}

@media (min-width: 990px) {
  /* ===RIGHT FOOTER=== */
  /* ===RIGHT FOOTER - FORM=== */
  .rform__input--restyle {
    width: 380px;
  }
}