@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-rowrap-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ===KEYFRAMES SLIDE UP=== */
@mixin keyframe-slide-up {
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100;
    }
  }
}

/* ===KEYFRAMES SLIDE RIGHT=== */
@mixin keyframe-slide-right {
  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100;
    }
  }
}

/* ===KEYFRAMES SLIDE DOWN=== */
@mixin keyframe-slide-down {
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100;
    }
  }
}

/* ===KEYFRAMES SLIDE DOWN MOBILE ONLY=== */
@mixin keyframe-slide-down-mob {
  @keyframes slideDownMob {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 100;
    }
  }
}

/* ===KEYFRAMES SLIDE LEFT=== */
@mixin keyframe-slide-left {
  @keyframes slideLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 100;
    }
  }
}

/* ===ANIMATION SLIDE UP=== */
@mixin animation-slide-up {
  animation: 1s ease-in 0s 1 slideUp;
}

/* ===ANIMATION SLIDE RIGHT=== */
@mixin animation-slide-right {
  animation: 1s ease-in 0s 1 slideRight;
}

/* ===ANIMATION SLIDE DOWN=== */
@mixin animation-slide-down {
  animation: 1s ease-in 0s 1 slideDown;
}

/* ===ANIMATION SLIDE DOWN MOBILE ONLY=== */
@mixin animation-slide-down-mob {
  animation: 1s ease-in 0s 1 slideDownMob;
}


/* ===ANIMATION SLIDE LEFT=== */
@mixin animation-slide-left {
  animation: 1s ease-in 0s 1 slideLeft;
}