.navbar {
  padding: 0;
}

/* ====ESCONDER UL EN MOBILE==== */
.navbar .container-fluid .nav-div-mobhide {
  display: none;
}

/* ====AJUSTE DE MARGENES DE LOS LINKS==== */
.navbar .container-fluid .navbar-brand {
  margin: 5px;
}

/* ====FIJADO DE TAMAÑO DE LOGO EN NAVBAR==== */
.navbar .container-fluid .navbar-brand .nav-img {
  width: 45px;
}

/* ====BORDE SOLIDO PARA EL MENU COMO DIVISOR==== */
.navbar .container-fluid .collapse .navbar-nav .ul-li-borderbottom {
  border-bottom: 1px solid #585858;
}

@media (min-width: 990px) {
  /* ====ESCONDER UL EN DESKTOP==== */
  .navbar .container-fluid .collapse .navbar-nav .nav-div-deskhide {
    display: none;
  }

  /* ====ESPACIO ENTRE LOS LINKS DEL NAV==== */
  .navbar .container-fluid .collapse .navbar-nav .nav-item {
    padding: 0 10px;
  }

  /* ====REMOVER BORDE SOLIDO PARA EL MENU==== */
  .navbar .container-fluid .collapse .navbar-nav .ul-li-borderbottom {
    border-bottom: none;
  }
}
