.navbar {
  padding: 0;
}

/* ====ESCONDER UL EN MOBILE==== */
.nav__div--mobhide {
  display: none;
}

/* ====AJUSTE DE MARGENES EN EL LINK A Y FIJADO DE TAMAÑO DEL LOGO==== */
.imglink {
  margin: 5px;

  &__img {
    width: 45px;
  }
}

/* ====BORDE SOLIDO PARA EL MENU COMO DIVISOR==== */
.nav__li--borderbot {
  border-bottom: 1px solid #585858;
}

@media (min-width: 990px) {
  /* ====ESCONDER UL EN DESKTOP==== */
  .nav__div--deskhide {
    display: none;
  }

  /* ====ESPACIO ENTRE LOS LINKS DEL NAV==== */
  .nav-item {
    padding: 0 10px;
  }

  /* ====REMOVER BORDE SOLIDO PARA EL MENU==== */
  .nav__li--borderbot {
    border-bottom: none;
  }
}
